@font-face{
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

body{
    font-size: 24px;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 245, 250);
}

.signup-body{
    display: flex;
}

.image{
    position: relative;
}

.banner-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner{
    object-fit: contain;
    height: 100vh;
    display: block;
}

#logo{
    width: 100px;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

.image:nth-child(2){
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    width: 100%;
    top: 50px;
    font-size: 100px;
    font-family: norse-bold;
    text-align: center;
}

.image:last-child{
    position: absolute;
    bottom: 0px;
    color: beige;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.form > *{
    padding-left: 32px;
}

.form p{
    font-weight: bold;
}

.form .info{
    padding-top: 15%;
    width: 75%;
}

#legend{
    padding-top: 16px;
    padding-left: 32px;
}

#signup-box{
    /* border: solid green; */
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    width: 100%;
    height: 25%;
    padding: 0px;
}

.form input[type='submit']{
    background-color: rgba(40,18,67,255);
    color: white;
    padding: 16px 3rem 16px 3rem;
    margin: 32px 32px 32px 0px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
}