@font-face{
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

body{
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}

.signup-body{
    display: flex;
}

.image{
    position: relative;
}

.banner-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner{
    object-fit: contain;
    height: 100vh;
    display: block;
}

#logo{
    width: 100px;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

.image:nth-child(2){
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    width: 100%;
    top: 50px;
    font-size: 100px;
    font-family: norse-bold;
    text-align: center;
}

.image:last-child{
    position: absolute;
    bottom: 0px;
    color: beige;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.form{
    border: solid red;
}